@model List<Kent.Business.Core.Models.FooterTemplates.FooterTemplateModel>
@{
    ViewBag.Title = "Footer templates";
}

<link rel="stylesheet" href="~/Content/Plugins/datatables/dataTables.bootstrap4.css">
<h2>Footer templates</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-primary center-block" href="@Url.Action("Create", "FooterTemplates")">
                    <i class="fas fa-plus"></i>
                    Create
                </a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Số thứ tự</th>
                            <th>Template</th>
                            <th>Mặc định</th>
                            <th>Lần cuối update</th>
                            <th>Tài khoản update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <th>
                                    <a href="@Url.Action("Edit", "FooterTemplates", new { id = data.ID })">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </th>
                                <td>@data.ID</td>
                                <td>
                                    @data.Name
                                </td>
                                <td>@data.IsDefaultTemplate</td>
                                <td>@data.LastUpdate</td>
                                <td>@data.LastUpdateBy</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
