<table>
    <thead>
        <tr>Thông tin đăng kí nhập học</tr>
    </thead>
    <tbody>
        <tr><td>Thông tin cơ bản</td></tr>
        <tr>
            <td>Tên đầy đủ:</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Giới tính:</td>
            <td>@Model.Sex</td>
        </tr>
        <tr>
            <td>Ngày sinh: </td>
            <td>@Model.DateOfBirth</td>
        </tr>
        <tr>
            <td>Nơi sinh: </td>
            <td>@Model.PlaceBirth</td>
        </tr>
        <tr>
            <td>Trình độ: </td>
            <td>@Model.Literacy</td>
        </tr>
        <tr>
            <td>Trường: </td>
            <td>@Model.School</td>
        </tr>
        <tr>
            <td>Tỉnh / Thành phố</td>
            <td>@Model.Province</td>
        </tr>
        <tr>
            <td>Hình ảnh: </td>
            <td>@Model.ImagePath</td>
        </tr>
        <tr>
            <td>CMND: </td>
            <td>@Model.IdNumber</td>
        </tr>
        <tr>
            <td>Ngày cấp</td>
            <td>@Model.DateRange</td>
        </tr>
        <tr>
            <td>Nơi cấp</td>
            <td>@Model.PlaceRange</td>
        </tr>
        <tr>
            <td>Điểm trung bình</td>
            <td>@Model.MediumScrore</td>
        </tr>
        <tr>
            <td>NGÀNH HỌC ĐĂNG KÝ</td>
        </tr>
        <tr>
            <td>Chương Trình Cử Nhân Thực Hành Quốc Tế</td>
            <td>@Model.InternationalBachelorProgram</td>
        </tr>
        <tr>
            <td>Chương Trình Dự Bị Đại Học</td>
            <td>@Model.UniversityFoundationProgram</td>
        </tr>
        <tr><td>THÔNG TIN LIÊN HỆ</td></tr>
        <tr>
            <td>Họ và tên</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Di động</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Tên phụ huynh/ người giám hộ</td>
            <td>@Model.GuardianName</td>
        </tr>
        <tr>
            <td>Hộ khẩu thường trú</td>
            <td>@Model.Household</td>
        </tr>
        <tr>
            <td>Địa chỉ E-mail</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Điện thoại phụ huynh / người giám hộ</td>
            <td>@Model.GuardianPhoneNumber</td>
        </tr>
        <tr><td></td></tr>
        <tr>
            <td>BẠN BIẾT THÔNG TIN CỦA KENT QUA</td>
            <td>@Model.another</td>
        </tr>
    </tbody>
</table>
