@{ 
    var specializeStr = string.Empty;
    foreach(var spl in Model.Specialize)
    {
        specializeStr += spl + ",";
    }
}
<table>
    <thead>
        <tr>
            <td></td>
            <td>Thông tin</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tên: </td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Số điện thoại: </td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Ngành: </td>
            <td>@specializeStr</td>
        </tr>
        <tr>
            <td>Lời nhắn: </td>
            <td>@Model.Message</td>
        </tr>
    </tbody>
</table>