<table>
    <thead>
        Cựu sinh viên
    </thead>
    <tbody>

        <tr>
            <td>Họ và tên</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Ngày sinh</td>
            <td>@Model.DateOfBirth</td>
        </tr>
        <tr>
            <td>Số điện thoại</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Địa chỉ hiện tại</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Ngày nhập học</td>
            <td>@Model.AdmissionDate</td>
        </tr>
        <tr>
            <td>Ngày tốt nghiệp</td>
            <td>@Model.GraduatingDate</td>
        </tr>
        <tr>
            <td>Chuyên ngành</td>
            <td>@Model.Specialized</td>
        </tr>
        <tr>
            <td>Công ty hiện tại</td>
            <td>@Model.CurrentCompany</td>
        </tr>
        <tr>
            <td>Lĩnh vực công ty</td>
            <td>@Model.CompanyField</td>
        </tr>
        <tr>
            <td>Bộ phận hiện tại</td>
            <td>@Model.Staff</td>
        </tr>
        <tr>
            <td>Chức vụ hiện tại</td>
            <td>@Model.Position</td>
        </tr>
        <tr>
            <td>Mức lương hiện tại</td>
            <td>@Model.Salary</td>
        </tr>
        <tr>
            <td>Mức lương khởi điểm khi ra trường</td>
            <td>@Model.SalaryStarting</td>
        </tr>
        <tr>
            <td>Đi du học</td>
            <td>@Model.StudyAbroad</td>
        </tr>
    </tbody>
</table>