<table>
    <thead>Tham quan trường</thead>
    <tbody>
        <tr>
            <td>Họ và tên</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Số điện thoại</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Ngày thăm</td>
            <td>@Model.DateVisit</td>
        </tr>
        <tr>
            <td>Lời nhắn</td>
            <td>@Model.Message</td>
        </tr>
    </tbody>
</table>