@model Kent.Web.Models.Forms.AdmissionModel
@{
    Layout = null;
    ViewBag.Title = "Đăng ký nhập học";
}     
<!-- Latest compiled and minified CSS -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/site.css">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/site.css">
@*<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">*@
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@using (Html.BeginForm("Admission", "Forms", null, FormMethod.Post, new { @class = "form-horizontal form_nhaphoc" }))
{
    <div class="container">
        <div class="infor_name">
            <h2>THÔNG TIN HỌC SINH</h2>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Họ và tên</label>
                @*<input type="name" class="col-sm-8" id="name" required />*@
                @Html.TextBoxFor(m => m.FullName, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Hình đại diện</label>
                @*<input style="border:0; padding:0" type="file" name="pic" accept="image/*">*@
                @Html.TextBoxFor(m => m.ImagePath, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Giới tính</label>
                <div class="col-sm-8 form_namnu">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="Sex" value="Nam" class="form-check-input">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="Sex" value="Nữ" class="form-check-input">
                            Nữ
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Số CMND</label>
                @*<input type="text" class="col-sm-8" id="date" required />*@
                @Html.TextBoxFor(m => m.IdNumber, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Ngày sinh</label>
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "col-md-8" })
                @*<div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br />*@
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Ngày cấp</label>
                @Html.TextBoxFor(m => m.DateRange, new { @class = "col-md-8" })
                @*<div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>*@
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Nơi sinh</label>
                @Html.TextBoxFor(m => m.PlaceBirth, new { @class = "col-md-8" })
                @*<select class="col-sm-8" name="" id="">
                    <option value="">HCM</option>
                </select>*@
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Nơi cấp</label>
                @Html.TextBoxFor(m => m.PlaceRange, new { @class = "col-md-8" })
                @*<select class="col-sm-8" name="" id="">
                    <option value="">HCM</option>
                </select>*@
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Trình độ</label>
                @Html.TextBoxFor(m => m.Literacy, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Điểm TB TK lớp 12</label>
                @Html.TextBoxFor(m => m.MediumScrore, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4"><span>Ghi rõ tên trường</span></label>
                @Html.TextBoxFor(m => m.School, new { @class = "col-md-8" })
            </div>
            <div class="form-group col-md-6 item_nhaphoc space_html" style="margin-bottom: 5px;">
                <label for="email" class="col-sm-4"><span>&nbsp;</span></label>
                <div class="col-sm-8">&nbsp;</div>
            </div>
            <div class="form-group col-md-6 item_nhaphoc space_html" style="height:0px">
                <label for="email" class="col-sm-4"><span>&nbsp;</span></label>
                <div class="col-sm-8">&nbsp;</div>
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4"><span>Tỉnh / Thành phố</span></label>
                @Html.TextBoxFor(m => m.Province, new { @class = "col-md-8" })
                @*<select class="col-sm-8" name="" id="">
                    <option value="">HCM</option>
                </select>*@
            </div>
        </div>
    </div>
    <div class="bg_nganhhoc">
        <div class="container">
            <h2>Ngành học đăng ký</h2>
            <h6>Chương Trình Cử Nhân Thực Hành Quốc Tế </h6>
            <div class="form-group col-md-12 ctrinhhoc">
                <div class="col-md-12 form_namnu">
                    <div class="form-check col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Quản Trị Kinh Doanh
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Quản Trị Nhà Hàng & Dịch Vụ Ăn Uống
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Truyền Thông Đa Phương Tiện
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Quản Trị Marketing
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Thiết Kế Thời Trang
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Quản Trị Kinh Doanh Vận Tải Hàng Không
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Kế Toán
                        </label>
                    </div>
                </div>
            </div>
            <h6>Chương Trình Dự Bị Đại Học</h6>
            <div class="form-group col-md-12 ctrinhhoc">
                <div class="col-md-12 form_namnu">
                    <div class="form-check col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Cơ bản (IELTS > 4.5)
                        </label>
                    </div>
                    <div class="form-check  col-sm-4">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Nâng cao (IELTS > 6.0)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="infor_name">
            <h2>THÔNG TIN liên hệ</h2>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Họ và tên</label>
                <input type="name" class="col-sm-8" id="name" required />
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Hộ khẩu thường trú</label>
                <input type="name" class="col-sm-8" id="name" required />
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Di động</label>
                <input type="text" class="col-sm-8" id="date" required />
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Địa chỉ E-mail</label>
                <input type="text" class="col-sm-8" id="time" required />
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Tên phụ huynh/ người giám hộ</label>
                <input type="text" class="col-sm-8" id="time" required />
            </div>
            <div class="form-group col-md-6 item_nhaphoc">
                <label for="email" class="col-sm-4">Điện thoại phụ huynh / người giám hộ</label>
                <input type="text" class="col-sm-8" id="time" required />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="infor_name">
            <h2>Bạn biết thông tin của Kent qua</h2>
            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Báo điện tử
                </label>
            </div>
            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Bạn bè, người thân
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Quảng cáo trực tuyến
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Mạng xã hội
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Hội thảo
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Máy tìm kiếm
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Chuyên viên tuyển sinh của Kent
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Trường THPT
                </label>
            </div>

            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Truyền hình
                </label>
            </div>


            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Tờ rơi
                </label>
            </div>
            <div class="form-check col-sm-4">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Giáo viên
                </label>
            </div>
            <div class="form-check col-sm-4">
                <input type="text" class="col-sm-12 infor_other" id="time" placeholder="Khác" required />
            </div>

            <div class="check_accept col-md-12">
                <div class="form-check  col-md-12">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Tôi cam kết thông tin cung cấp trong tờ khai này là hoàn toàn chính xác và tôi có nghĩa vụ thông báo cho nhà trường ngay khi có bất cứ sự thay đổi nào
                    </label>
                </div>
            </div>
        </div>
        <div class="hosolist">
            <h2>Ghi chú</h2>
            <h6>Hồ sơ nhập học gồm có</h6>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>Đơn đăng ký nhập học (Bản chính)</p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>
                    Bằng tốt nghiệp THPT hoặc Giấy chứng nhận
                    tốt nghiệp tạm thời (bản sao công chứng)
                </p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>Học bạ THPT (Bản sao công chứng)</p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>CMND (Bản sao công chứng)</p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>Giấy khai sinh (Bản sao)</p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>Ảnh thẻ 4x6 (4 tấm)</p>
            </div>
            <div class="check_hs  col-sm-4">
                <img src="images/icon_checl.jpg" alt="">
                <p>
                    Sơ yếu lý lịch (Bản chính, có xác nhận
                    của địa phương)
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group col-md-12 button_form">
            <button type="submit">Đăng ký</button>
        </div>
    </div>    
}
