@model Kent.Web.Models.Forms.AdvisoryModel
@{
    var SpecializeList = new List<SelectListItem>()
    {
        new SelectListItem(){Text="Quản Trị Kinh Doanh", Value="Quản Trị Kinh Doanh"},
        new SelectListItem(){Text="Quản Trị Nhà Hàng & Dịch Vụ", Value="Quản Trị Nhà Hàng & Dịch Vụ"},
        new SelectListItem(){Text="Truyền Thông Đa Phương Tiện", Value="Truyền Thông Đa Phương Tiện"},
        new SelectListItem(){Text="Quản Trị Marketing", Value="Quản Trị Marketing"},
        new SelectListItem(){Text="Thiết Kế Thời Trang", Value="Thiết Kế Thời Trang"},
        new SelectListItem(){Text="Quản Trị Kinh Doanh Vận Tải Hàng Không", Value="Quản Trị Kinh Doanh Vận Tải Hàng Không"},
        new SelectListItem(){Text="Kế Toán", Value="Kế Toán"},
        new SelectListItem(){Text="Dự bị Đại học Quốc tế", Value="Dự bị Đại học Quốc tế"},
    };
}

@using (Ajax.BeginForm("Advisory", "Forms", new AjaxOptions() { OnBegin = "AdvisorySubmit", OnSuccess = "SubmitComplete" }))
{
    @Html.ValidationSummary()
    <h2>Đăng ký tư vấn</h2>
            <div class="form-group form_item">
                <label for="name" class="col-md-3">Họ và tên</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "col-md-9" })
            </div>
            <div class="form-group form_item">
                <label for="email" class="col-md-3">Số điện thoại</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "col-md-9" })
            </div>
            <div class="form-group form_item">
                <label for="email" class="col-md-3">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "col-md-9" })
            </div>
            <div class="form-group form_item">
                <label for="email" class="col-md-3"><b>Chuyên ngành</b></label>
                <div class="col-md-9 check_form">
                    @Html.HiddenFor(m => Model.Specialize)
                    @foreach (var item in SpecializeList)
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                @if (Model.Specialize != null && (Model.Specialize.Contains(item.Value) || Model.Specialize[0].Contains(item.Value + ",") || Model.Specialize[0].Contains(", " + item.Value)))
                                {
                                    <input type="checkbox" name="Specialize" value="@item.Value" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="Specialize" value="@item.Value" />
                                }
                                @item.Text
                            </label>
                        </div>
                    }
                    <div class="form-check">
                        <span>Quý phụ huynh học sinh có thể chọn tư vấn nhiều ngành</span>
                    </div>
                </div>
            </div>
            <div class="form-group form_item">
                <label for="email" class="col-md-3">Lời nhắn</label>
                @Html.TextAreaFor(m => m.Message, new { @class = "col-md-9" })
            </div>
            <div class="form-group form_item">
                <label for="email" class="col-md-3">&nbsp;</label>
                <button id="btn-submit">Đăng ký</button>
                <p data-dismiss="modal">Bỏ qua</p>
            </div>
}

<script>
    function AdvisorySubmit() {
        var specializeList = [];
        $('input:checkbox:checked').each(function () {
            specializeList.push($(this).attr('value'));
        });
        document.getElementById("Specialize").value = specializeList;
    };
    
</script>