<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Media/particular/css/eleganticons.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Media/particular/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Media/particular/css/main.css">
    <link href="~/Media/particular/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Media/particular/css/owl.theme.css" rel="stylesheet">
    <link href="~/Media/particular/css/animate.css" rel="stylesheet">

</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div id="successModal" class="modal fade" role="dialog">
        <div class="modal-dialog form_tuvan_popup">
            <!-- Modal content-->
            <div class="modal-content" style="background: none;border: none;box-shadow:  none;">
                <div class="modal-body">
                    <div class="form_success">
                        <div class="form_success__content">
                            <img src="images/icon_success.png" alt="">
                            <p>
                                Gửi thông tin thành công, chúng tôi sẽ gọi điện xác nhận
                                và tư vấn chi tiết đến bạn trong vòng 24 giờ tới.<br />
                                Xin cảm ơn!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Popup/_Advisory")
    @Html.Partial("Popup/_Alumni")
    @*@Html.Partial("Popup/_Contact")*@
    @Html.Partial("Popup/_VisitSchool")

    <script src="../Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function SubmitComplete(result) {
            if (result.success == true) {
                $('#' + result.idfield).modal('hide');
                $("#successModal").modal();
            }
        }
    </script>
</body>
</html>
